
.experience-wrapper, .education-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
    border: 2px solid rgba(0, 0, 0, 0.729);
    border-radius: 12px;
    padding: 12px;
}

.date-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.buttons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.removeBtn, .addBtn, .saveBtn {
    border: none;
    font-size: 20px;
    width: 150px;
    height: 42px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.addBtn {
    background-color: rgba(128, 128, 128, 0.252);
    color: rgba(16, 15, 15, 0.581);
}

.saveBtn.non-personal {
    background-color: green;
    color: white;
}

.removeBtn {
    background-color: red;
    color: white;
}

.removeBtn:active, .addBtn:active, .saveBtn:active, .addBtn:focus, .removeBtn:focus, .saveBtn:focus {
    transform: scale(0.98);
}

.label {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin: 8px 0;
}

.experience-input, .education-input {
    padding-left: 8px;
    outline: none;
    border: none;
    background-color: inherit;
    border-bottom: 3px solid rgba(0, 92, 92, 1);
    height: 36px;
    width: 98%;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.708);
}

.experience-input:focus, .experience-input:active, .education-input:focus, .education-input:active {
    border-bottom: 3px solid rgba(0, 255, 255, 0.838);
}

.experience-textarea:focus, .experience-textarea:active, .education-textarea:active, .education-textarea:focus {
    border: 3px solid rgba(0, 255, 255, 0.838);
}

.experience-textarea, .education-textarea {
    resize: none;
    padding: 12px;
    outline: none;
    border: 3px solid rgba(0, 92, 92, 1);
    max-width: 96%;
    background-color: inherit;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.708);
    margin-top: 12px;
    border-radius: 12px;
}